################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/arcade-game/x64
/bin
/lib
/arcade-game.vcxproj.user
/.idea
/cmake-build-debug
/CMakeLists.txt
/assets
/arcade-game/Debug
